<div class="teamcity-screen">
	<div class="tc-project {{status}}" id="project-{{identifier}}">
		<h2>{{title}}</h2>
		<ul>
			{{#configs}}
			<li class="build-config {{status}}" id="build{{id}}">{{{name}}}</li>
			{{/configs}}
		</ul>
	</div>
</div>