<div class="teamcity-screen 1up">
	<div class="tc-project {{status}}" id="project{{projectId}}">
		<h2>{{projectTitle}}</h2>
		<ul>
			{{#configs}}
			<li class="build-config {{status}}" id="build{{id}}">&nbsp;</li>
			{{/configs}}
		</ul>
	</div>
</div>